<div mat-dialog-title>{{ isCreateMode() ? 'Crear' : 'Actualizar' }} Atencion</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div fxLayout="column wrap">

      <mat-form-field *ngIf="mode != 'update'" >
        <mat-label>Mascota</mat-label>
        <mat-select formControlName="idMascota">
          <mat-option *ngFor="let option of mascotasList"
                      [value]="option.id">
            {{option.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field *ngIf="mode != 'update'" >
          <mat-label>Veterinario</mat-label>
          <mat-select formControlName="idUsuario"
                      (opened)="selectOpened('vetSearch')"
                      (selectionChange)="veterinarioChange($event)">
            <!-- Campo de búsqueda -->
            <mat-form-field>
              <input matInput
                     type="text"
                     id="vetSearch"
                     placeholder="Buscar veterinario..."
                     #searchInput
                     (input)="filterVeterinarios(searchInput.value)">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <!-- Opciones -->
            <mat-option *ngFor="let option of filteredVeterinariosList" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
      </mat-form-field>


      <mat-form-field fxFlex>
        <mat-label>Anamnesis</mat-label>
        <input type="text" formControlName="anamnesis" matInput>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Descripcion</mat-label>
        <input type="text" formControlName="descripcion" matInput>
      </mat-form-field>


    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()"
            mat-flat-button
            color="primary"
            [disabled]="!form.valid">Registrar Atencion
    </button>
    <button *ngIf="isUpdateMode()"
            mat-flat-button
            color="primary"
            [disabled]="!form.valid">Actualizar Atencion
    </button>
  </mat-dialog-actions>
</form>



