<div mat-dialog-title>{{ isCreateMode() ? 'Crear' : 'Actualizar' }} Categoria</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div fxLayout="column wrap">

      <mat-form-field fxFlex>
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="nombre" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estante</mat-label>
        <mat-select formControlName="idEstante">
          <mat-option *ngFor="let option of estanteList"
                      [value]="option.id">
            {{option.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()"
            mat-flat-button
            color="primary"
            [disabled]="!form.valid">Registrar Categoria
    </button>
    <button *ngIf="isUpdateMode()"
            mat-flat-button
            color="primary"
            [disabled]="!form.valid">Actualizar Categoria
    </button>
  </mat-dialog-actions>
</form>


